@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@1,6..12,300&family=Rajdhani:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@1,6..12,300&family=Rajdhani:wght@300&family=Roboto&display=swap');


*{
    box-sizing: border-box;
}
body{
    margin: 0;
    width: 100%;
}
.img-container{
    position: relative;
    width: 100%;
    height: 420px;
}
.img-container img{
    width: 100%;
    height: 100%;
    object-fit: cover
    ;
}
.nav{
    
    font-weight: 550;
    height: 50px;


}
.header{
    position: relative;
    

}
.container{
    width: 83%;
    margin: auto;

}

.container-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.logocontainer{
    display: flex;
    align-items: center;
    transform: scale(1.1);



}
.logocontainer p{
    padding: 5px;

}
.nav ul{
    list-style: none;
    display: flex;

}
.nav ul li{
    padding: 0px 3px;
    margin-right: 30px;
    font-size: 20px;
    font-weight: 100;

    
}

.nav ul li a{
    color: inherit;
    text-decoration: none;

}
.header-body-section{
    position: absolute;
    top: 0;
    width: 100%;
    color: #fff;

}
.zomato{
    width: 300px;


}
.container-header-body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 420px;
    flex-direction: column;

}
.header-body-content{
    position: relative
    top: -50px;
}
.header-body-section-discover{
    font-size: 40px;
    margin: 25px 0;
}
.search-container{
    background-color: white;
    width: 100%;
    height: 55px;
    max-width: 750px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 7px;
    color: #000;




}
.loaction-map{
    color: red;
    font-size: 22px;
}
.fa-caret-up-caret-up{



}
.detect input{
    border: none;
    font-size: 16px;
    width: 190px;

}
.search-item{
    color: black;
    font-size: 18px;
}
.line{
    padding: 7px;
}
.search-item input{
    max-width:100%;
    width: 400px;
    font-size: 15px;
    border: none;
    padding: 5 10px;
    outline: none;
    
}
.container-features{
    display: flex;
    justify-content: space-between;
}
.feature-image{
    height: 200px;
    width: 350px;
    overflow: hidden;
    
}
.feature-image img{
    object-fit: cover;
    background-position-y:-100px ;
   

}
.section-1{
    margin-top: 40px;
    
}
.feature{
    overflow: hidden;
    border-radius: 20px;
    height: 350px;
    border: 1px solid gray;
}
.feature h3 , 
.feature  p{
    padding-left: 20px;

}
.feature-image:hover {
    transform: scale(1.0);
    transition: transform 0.5s;
    cursor: pointer;
}
.sections-2-left h1{
    font-size: 30px;
    margin-bottom: 0;

}
.sections-2-left p{
    font-size: 20px;
    margin-top: 0;
    letter-spacing: 1px;
    font-weight: 200;
    font-size: 20px;
    font-weight: 100;
    padding-top: 12px;
}
.section-2-top{
    display: flex;
    align-items: center;
    padding: 20px;


}
.section-2-right{
    align-items: center;
    color: red;
    position: relative;
    left: 390px;
}
.section-2{
    position: relative;
    left: 119px;

}
.section-2-item{
    display: flex;
    object-fit: cover;
    margin-left: -28px;
    
    
}
.item-img{
    height: 320px;
    width: 320px;
    padding-left: 25px;
    border-radius: 20px;

}
.section-3 h1{
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Rajdhani', sans-serif;
    position: relative;
    top: 40px;
    
}
.section-3-heading{
    font-size: 40px;

}
.section-3-eachbox {
    height: 80px;
    width: 330px;
    border: 1px solid gray;
    margin: 50px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    border-radius: 15px;
}

.section-3-box{
    display: flex;
    position: relative;
    left: -80px;

}
.section-3-box1{
    padding: 20px;
}
.section-3-box2{
    padding: 20px;
}
.section-3-box3{
    padding: 20px;
}
.eachbox-head{
    font-family: 'Montserrat', sans-serif;
    padding-left: 20px;
    margin-bottom: -12px;
    text-align: start;
}
.section-2{
    position: relative;
    top: 60px;
}
.eachbox-p{
    padding-left: 20px;
    margin-bottom: -12px;
    padding-top: 7px;

}
#see-more{
    font-family: 'Montserrat', sans-serif;
    text-align: center;

}
.img-dec{
    height: 300px;
    width: 300px;
    object-fit: cover;
    position: relative;
    left: 300px;
    top: 150px;
    

}
.section-container{
    position: relative;
    top: 140px;
    background-color:rgb(255, 251, 247);
    display: flex;
    height: 400px;

}
.enter-detail{
    position: relative;
    left: 350px;
    top: 50px;
}
.section-4-head{
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Rajdhani', sans-serif;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 8px;
    font-size: 40px;
}
.email-input{
    margin-top: 12px;
    height: 35px;
    width: 250px;
    border-radius: 10px;
}
.email-button{
    height: 35px;
    width: 100px;
    border-radius: 10px;
    white-space: nowrap;
    color:#fff;
    background-color: red;
    font-weight: 500;
    border: 1px;

}
.download-app-img{
    width: 100px;
    margin-top: -10px;
    cursor: pointer;
}
.section-5-container{
    background: rgb(248, 248, 248);
    width: 100%;
    height: 350px;
    margin-top: 100px;
    position: relative;
    top: 145px;
}
.footer-section-1{
    display: flex;
    padding-top: 12px;
}
.footer-1{
    margin-left: 200px;
    
}
.footer-list{
    text-decoration: none;
    list-style-type: none; 
    padding: 5px;
    padding-left: 50px;
    color: rgb(143, 129, 129);
}
.footer-listmain{
    text-decoration: none;
    list-style-type: none; 
    padding: 5px;
    font-weight: 800;
    padding-left: 50px;

}
.footer-section-1{
    position: relative;
    top: 60px;
}
.img-footer{
    position: relative;
    top: 60px;
    left: 85px;
}
.nationality{
    height: 35px;
    width: 120px;
    position: relative;
    top: -50px;
    border: 1px solid gray;
    border-radius: 5px;
    text-align: center;
    margin-top: 4px;
}

.language{
    height: 35px;
    width: 120px;
    position: relative;
    top: -50px;
    margin-left: 30px;
    border: 1px solid gray;
    border-radius: 5px;
    margin-top: 4px;
    text-align: center;
}
.language p{
    margin-top: 10px;
}
.nationality p {
    margin-top: 5px;

}
.footer-link{
    position: absolute;
    left: 970px;
    font-weight: bold;
    color: gray;
}
.googleapp-apple{
    width: 20px;
    position:absolute;
    left: 200;
}
.googleapp-2{
    position: absolute;
    left: 970px;
    width: 136px;
    bottom: 70px;
}
.googleapp-1{
    position: absolute;
    left: 970px;
    width: 136px;
    bottom: 120px;

}